.commentBody{
    background: #f5f5f5;
    border-radius: 10px;
    display: block;
    margin: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    .header{
        background: #37474f;
        padding:8px;
        border-radius: 10px 10px 0px 00px;
        color:#f5f5f5;
        .author{
            font-weight: bolder;
            margin-right: 20px;
            text-transform: capitalize;
        }
        .datetime{
            opacity: 0.8;
        }
    }
    .body{
        padding:12px;
        color:#263238;
        font-size: 0.95rem;
    }
  }